# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Spark runtime artifacts
checkpoints/
dataframes/
spark-warehouse/
metastore_db/

# Logs
*.log
logs/

# Environment / secrets
.env
.env.*
!.env.example

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.iml


.env